*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Rajdhani', sans-serif;
    min-height:100vh;

    background:url("background.jpg.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.65);
    z-index:-1;
}

header{
    text-align:center;
    padding:30px;
}

header h1{
    font-size:3rem;
    color:#FFD700;
    text-shadow:0 0 15px #FFD700;
}

header p{
    font-size:1.2rem;
}

.painel-superior{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.info-card{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(8px);
    padding:20px;
    border-radius:15px;
    min-width:220px;
    text-align:center;
    border:1px solid rgb(102, 225, 14);
}

.info-card span{
    font-size:2rem;
    font-weight:bold;
    color:#ffe100; 
}

.podio{
    padding:30px;
}

.podio h2{
    text-align:center;
    margin-bottom:25px;
}

.podio-container{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    gap:20px;
}

.podio-item{
    width:180px;
    text-align:center;
    border-radius:15px;
    font-weight:bold;
}

.primeiro{
    height:220px;
    background:linear-gradient(#FFD700,#b8860b);
    color:black;
    padding-top:40px;
}

.segundo{
    height:170px;
    background:linear-gradient(#d8d8d8,#9e9e9e);
    color:black;
    padding-top:30px;
}

.terceiro{
    height:140px;
    background:linear-gradient(#cd7f32,#8b5a2b);
    color:black;
    padding-top:20px;
}

.medalha{
    font-size:40px;
}

.ranking{
    padding:30px;
}

.ranking h2{
    text-align:center;
    margin-bottom:30px;
}

.pista-card{
    background:rgba(255,255,255,.10);
    backdrop-filter:blur(10px);

    border-radius:20px;
    margin-bottom:25px;

    padding:20px;
}

.vendedor-header{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:15px;
}

.nome-vendedor{
    font-size:1.8rem;
    font-weight:bold;
    color:#FFD700;
}

.porcentagem{
    font-size:1.5rem;
    font-weight:bold;
}

.pista{
    position:relative;
    width:100%;
    height:90px;

    background:
    repeating-linear-gradient(
    90deg,
    rgba(255,255,255,.15),
    rgba(255,255,255,.15) 40px,
    rgba(255,255,255,.05) 40px,
    rgba(255,255,255,.05) 80px
    );

    border-radius:12px;

    overflow:hidden;
}

.carro{
    position:absolute;
    top:18px;

    font-size:45px;

    transition:all 1s ease;
}

.bandeira{
    position:absolute;
    right:10px;
    top:18px;
    font-size:45px;
}

.detalhes{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

    margin-top:15px;
}

.meta-batida{
    color:#00ff6a;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:30px;
}

@media(max-width:768px){

.podio-container{
    flex-direction:column;
    align-items:center;
}

.primeiro,.segundo,.terceiro{
    width:90%;
    height:auto;
    padding:20px;
}

header h1{
    font-size:2rem;
}

}